<table class="table table-dark table-striped m-5">
  <thead class="fs-2 text-primary">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody class="fs-3">
    <tr>
      <td><a routerLink="/students/1" style="text-decoration: none;">Mazen</a></td>
      <td>25</td>
      <td>mazen@gmail.com</td>
    </tr>
    <tr>
      <td><a routerLink="/students/2" style="text-decoration: none;">Ahmed</a></td>
      <td>26</td>
      <td>ahmed@gmail.com</td>
    </tr>
    <tr>
      <td><a routerLink="/students/3" style="text-decoration: none;">Mohamed</a></td>
      <td>27</td>
      <td>mo@gmail.com</td>
    </tr>
  </tbody>
</table>
